.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.question {
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative;
}

.question p{
    min-height: 80px;
    padding: 0 5px;
}

.btns{
    display: flex;
    place-content: center;
}

.btn {
    cursor: pointer;
    border: none;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 22px;
    text-decoration: none;
    margin: 20px;
    color: #fff;
    position: relative;
    display: inline-block;
}

.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.green {
    background-color: #2ecc71;
    box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
    background-color: #48E68B;
}

.red {
    background-color: #e74c3c;
    box-shadow: 0px 5px 0px 0px #CE3323;
}

.red:hover {
    background-color: #FF6656;
}


/* Akinator background style */
.akinator-background {
    background: #3a2e48; /* Fallback color */
    background: linear-gradient(135deg, #554075 0%, #3a2e48 100%);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

/* For the pattern effect */
.akinator-pattern {
    position: relative;
    z-index: 0;
    background: repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 5px
    );
}

.div-container {
    position: relative;
    overflow: hidden;
}

.div-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: url('pattern.png'); /* Add pattern image if needed */
    opacity: 0.05; /* Adjust opacity for pattern visibility */
    pointer-events: none;
}
